*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.main-content{
  width: 40%;
  margin: auto;
  border-radius: 4px;
  border: 1px solid gray;
  box-shadow: 10px 10px 5px #aaaaaa;
  padding: 20px;
}
.search-item input{
  padding: 8px;
  border:none;
  border-radius: 4px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 12px;
}
.search-item input::placeholder{
  color:black;

}
table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
}
table th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  border: 1px solid #ddd;
}
table tr{
  width: 100%;
}
table td, table th{
  border: 1px solid #ddd;
  padding: 8px;
}
table tr:hover{
  background-color: #ddd;
}